/* Write your CSS here - remember to add Id's or classes to the HTML file */

/* my added style elements - MF 21/11/2022 */

/* whole page backround colour of black, set default text size to 16px */

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 16px;
}

/* attributes applied to main header of site page */

#main_header{

    background-image: url(../imgs/Records.jpg);
    text-align: center;
}

#main_title{
    font-family:'Segoe UI', Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;

}

/* now define attributes for 3 main subsection headers */
/* keeping sections separate but duplicating attributes, allows independent
/* change for each heading at a later date */

#h_selection{
    text-align: center;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #ef8354;
}

#h_selling{
    text-align: center;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #0e7c7b;
}

#h_livemusic{
    text-align: center;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #9c538b;
}

/* attributes for minor page text */

#span_sale{
    font-weight: bold;
}

#Copyright{
    text-align: center;
}

/* image attributes common to page - limit image
   widths to 500px and maintain aspect ratio */

img{
    height:auto;
    width: 500px;
    max-width: 50%;
}

/* Finally set attributes for any links on page */

a{
    color: #ef8354;     /* default link colour any state */
}

a:hover{
    color: #9c528b;  /* colour when mouse hovering over link */
}